{% extends 'base.html' %}
{% load static %}
{% block title %}お問い合わせ | Private Diary{% endblock %}
{% block header%}
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>INQUIRY</h1>
                            <span class="subheading">お問い合わせ</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}
{% block active_inquiry %}active{% endblock%}
{% block contents %}
        <!-- Content section 1-->
        <div class="container">
            <div class="row">
                <div class="my-div-style">
                    <form method="POST">
                        {% csrf_token %}

                        {{ form.non_field_errors }}

                        {% for field in form%}
                        <div class="form-group row">
                            <label for="{{ field.id_for_label }}" class="col-sm-4 col-form-label">
                                <strong>{{ field.label_tag }}</strong>
                            </label>
                            <div class="col-sm-8">
                                {{ field }}
                                {{ field.errors}}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="offset-sm-4 col-sm-8">
                            <button class="btn btn-primary" type="submit">送信</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
{% endblock %}